<h5>All tickets</h5>
{{ticket_list}}
<p></p>
Amount:{{ticket_list|length}}
<p>---</p>
<h5>All open tickets</h5>
{{ticket_list_open}}
<p></p>
Amount:{{ticket_list_open|length}}
<p>---</p>
<h5>All Closed tickets</h5>
{{ticket_list_closed}}
<p></p>
Amount:{{ticket_list_closed|length}}

<p>---</p>
<h5>Latest 4 open tickets</h5>
{{ticket_list_open|slice:":4"}}
<p></p>
<!-- no need for this one anyway -->
Amount:{{ticket_list_open|slice:":4"|length}}

<p>---</p>
<h5>this week stats</h5>
This week opened: {{ticket_this_week.opened|length}} <br>
This week closed: {{ticket_this_week.closed|length}}

<p>---</p>
<h5>Average closing time</h5>
Average: {{ticket_avg_closing_time}}

<p>---</p>
<h5>12 days</h5>
Opened: 
<br>
{% for ticket in ticket_twelve_days_act.opened %}
---{{ticket.pub_date}} <br>
{% endfor %}
Closed:
<br>
{% for ticket in ticket_twelve_days_act.closed %}
---{{ticket.close_date}} <br>
{% endfor %}

<p>---</p>
<h5>User with open tickets</h5>
{% for user in users_with_open_tickets %}
---{{user.username}} <br>
{% endfor %}