      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'core:dashboard'%}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'core:ticket_list'%}">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Issues</span>
            </a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" href="{%url 'accounts:user_list'%}">
              <i class="mdi mdi-account-multiple-outline menu-icon"></i>
              <span class="menu-title">Team Workload</span>
            </a>
          </li>                       
        </ul>
      </nav>
