{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Issue Tracker </title>
  <!-- plugins:css -->
  <!-- OK for crispy forms-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- OK -->
  <link rel="stylesheet" href="{% static "vendors/feather/feather.css" %}">
  <!-- OK -->
  <link rel="stylesheet" href="{% static "vendors/mdi/css/materialdesignicons.min.css" %}">
  <!-- OK (checked arrow)-->
  <link rel="stylesheet" href="{% static "vendors/ti-icons/css/themify-icons.css" %}">
  <link rel="stylesheet" href="{% static "vendors/typicons/typicons.css" %}">
  <link rel="stylesheet" href="{% static "vendors/simple-line-icons/css/simple-line-icons.css" %}">
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css" %}">
  <!-- endinject -->
  <!-- OK - prevents glitch - Plugin css for this page -->
  <link rel="stylesheet" href="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}">
  <link rel="stylesheet" href="{% static "js/select.dataTables.min.css" %}">
  <!-- End plugin css for this page -->
  <!-- OK inject:css -->
  <link rel="stylesheet" href="{% static "css/vertical-layout-light/style.css" %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
</head>
<body>
  <div class="container-scroller">
    <!-- PLACEHOLDER - Here used to be the pro banner -->
    <!-- partial:partials/_navbar.html -->
    {% include './_nav.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- PLACEHOLDER - here it was theme-settings-wrapper -->
      <!-- PLACEHOLDER - here it was id="right-sidebar" class="settings-panel" -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      {% include './_nav_off_canvas.html' %}
      <!-- partial -->
      <div class="main-panel">
        <!-- PLACEHOLDER FOR BLOCK - BLOCK NEEDS TO BE IN A CONTENT WRAPPER -->
        <div class="content-wrapper">
          {% block content %}{% endblock %}
        </div>        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Project by Martin Poncio. Find Source Code in <a href="https://github.com/lmponcio/Django-Issue-Tracker" target="_blank">Github</a>.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Django Issue Tracker Web App.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- OK - Main graph - plugins:js -->
  <script src="{% static "vendors/js/vendor.bundle.base.js" %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- OK -->
  <script src="{% static "vendors/chart.js/Chart.min.js" %}"></script>
  <!-- <script src="{% static "vendors/bootstrap-datepicker/bootstrap-datepicker.min.js" %}"></script> -->
  <script src="{% static "vendors/progressbar.js/progressbar.min.js" %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <!-- <script src="{% static "js/off-canvas.js" %}"></script> -->
  <!-- OK -->
  <script src="{% static "js/hoverable-collapse.js" %}"></script>
  <!-- OK -->
  <script src="{% static "js/template.js" %}"></script>
  <script src="{% static "js/settings.js" %}"></script>
  <!-- <script src="{% static "js/todolist.js" %}"></script> -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static "js/jquery.cookie.js" %}" type="text/javascript"></script>
  <!-- OK bar graph -->
  <script src="{% static "js/dashboard.js" %}"></script>
  <script src="{% static "js/Chart.roundedBarCharts.js" %}"></script>
  <!-- End custom js for this page-->
</body>

</html>

