{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-4 grid-margin">
        <div class="card">
        <div class="card-body mt-2">
            <div class="text-center">
                <img class="w-50 img-md rounded-circle" src="{{ user.profile_image.url }}" alt="">
            </div>
            <div class="text-center">
                <h4 class="display-5 mt-3">{{user.first_name}} {{user.last_name}}</h4>
                {% if user.position %}
                <p class="card-description">{{user.position}}</p>
              {% else %}
              <p class="card-description">Developer</p>
              {% endif %}                
            </div>
            <div class="text-center row d-flex justify-content-center mt-1">
                <button type="button" class="w-75 my-2 btn btn-secondary btn-rounded">Open Issues</button>            
                <button type="button" class="w-75 my-2 btn btn-secondary btn-rounded">Closed Issues</button>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title card-title-dash">Issues List</h4>
            <div class="table-responsive mt-1">
            <table class="table">
                <thead>
                <tr>
                    <th>
                    ID
                    </th>
                    <th>
                    Title
                    </th>                    
                    <th>
                    Date Opened
                    </th>
                    <th>
                    Progress
                    </th>
                    <th>
                    Status
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face1.jpg" alt="image"/>
                    </td>
                    <td>
                    Herman Beck
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $ 77.99
                    </td>
                    <td>
                    May 15, 2015
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face2.jpg" alt="image"/>
                    </td>
                    <td>
                    Messsy Adam
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $245.30
                    </td>
                    <td>
                    July 1, 2015
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face3.jpg" alt="image"/>
                    </td>
                    <td>
                    John Richards
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $138.00
                    </td>
                    <td>
                    Apr 12, 2015
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face4.jpg" alt="image"/>
                    </td>
                    <td>
                    Peter Meggik
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $ 77.99
                    </td>
                    <td>
                    May 15, 2015
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face5.jpg" alt="image"/>
                    </td>
                    <td>
                    Edward
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $ 160.25
                    </td>
                    <td>
                    May 03, 2015
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face6.jpg" alt="image"/>
                    </td>
                    <td>
                    John Doe
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $ 123.21
                    </td>
                    <td>
                    April 05, 2015
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    <img src="../../images/faces/face7.jpg" alt="image"/>
                    </td>
                    <td>
                    Henry Tom
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </td>
                    <td>
                    $ 150.00
                    </td>
                    <td>
                    June 16, 2015
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% comment block %}
<h2>Your profile, {{user.username}}</h2>
<p>{{user.email}}</p>

<ul>
{% for ticket in user.created_tickets.all %}
    <li>{{ticket.title}}</li>
{% endfor %}
</ul>
{% endcomment %}